<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smzj.mapper.SysRolePermitMapper" >
  <resultMap id="BaseResultMap" type="com.smzj.model.SysRolePermit" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ORGTYPE" property="orgtype" jdbcType="DECIMAL" />
    <id column="ROLECODE" property="rolecode" jdbcType="VARCHAR" />
    <id column="PERMITCODE" property="permitcode" jdbcType="VARCHAR" />
    <result column="APPCODE" property="appcode" jdbcType="VARCHAR" />
    <result column="MODCODE" property="modcode" jdbcType="VARCHAR" />
    <result column="MODID" property="modid" jdbcType="VARCHAR" />
    <result column="ACTCODE" property="actcode" jdbcType="VARCHAR" />
  </resultMap>

  <delete id="delRolePermit" parameterType="SysRolePermit">
  	delete from sys_role_permit where orgtype=#{orgtype,jdbcType=DECIMAL} and rolecode=#{rolecode,jdbcType=VARCHAR} and appcode=#{appcode,jdbcType=VARCHAR}
  </delete>

  <insert id="saveRolePermit" parameterType="SysRolePermit">
	insert into sys_role_permit(orgtype,rolecode,permitcode,appcode,modcode,modid,actcode) values(#{orgtype,jdbcType=DECIMAL},#{rolecode,jdbcType=VARCHAR},#{permitcode,jdbcType=VARCHAR},#{appcode,jdbcType=VARCHAR}#{modcode,jdbcType=VARCHAR},#{modid,jdbcType=VARCHAR},#{actcode,jdbcType=VARCHAR})
  </insert>

  <select id="selectByUserid" resultMap="BaseResultMap">
	select * from sys_role_permit p where P.ROLECODE in (select ur.ROLECODE from sys_user_role ur where ur.USERID = #{userid})
  </select>

  <select id="selectByOrgTypeAndUserId" resultType="hashmap">
	SELECT DISTINCT SRP.APPCODE, SRP.MODCODE
	  FROM SYS_USER SU
	 INNER JOIN SYS_USER_ROLE SUR
	    ON SU.USERID = SUR.USERID
	 INNER JOIN SYS_ROLE_PERMIT SRP
	    ON SRP.ROLECODE = SUR.ROLECODE
	    AND SU.ORGTYPE = SRP.ORGTYPE
	 WHERE SU.USERID = #{userid}
	   AND SU.ORGTYPE = #{orgtype}
	   <if test="appcode !=null and appcode !=''">
			AND SRP.APPCODE = #{appcode}
	   </if>
	   ORDER BY SRP.MODCODE
  </select>
</mapper>